lib/
obj/
\.hg/
\.hgignore
\.hgtags
\test/unit/mqttpp-unittest
.deps/
.libs/
*.vp*
aclocal.m4
# AC_CONFIG_AUX_DIR created by /bootstrap
autotools_build/
autom4te.cache/
config.*
configure
libtool
Makefile.in
*.la
*.lo
*.o
*.stamp
/build/

*.d
*.out
build32
build64

debhelper-build-stamp
.DS_Store
.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.tar
*.zip
*.log
*.substvars
.vagrant
debian/files
debian/debhelper-build-stamp
debian/tmp/
obj-*/
*.user
.pc

debian/libpaho-mqtt-cpp1-dev/
debian/libpaho-mqttpp3-1/
